<h1 class="tw-heading-md tw-py-2">Nytt Riksintresse</h1>

<form [formGroup]="form" (ngSubmit)="buttonSubmit()" ngNativeValidate>
  <label class="raa-label" aria-required="true">Namn: </label>
  <input formControlName="namn" type="text" placeholder="Namn på riksintresse" class="valid-input raa-input" required>

  <label class="raa-label">Motivering: </label>
  <input formControlName="motivering" type="text" placeholder="Motivering av riksintresse" class="valid-input raa-input"
    required>

  <label class="raa-label">Beskrivning: </label>
  <input formControlName="beskrivning" type="text" placeholder="Beskrivning av riksintresse"
    class="valid-input raa-input" required>

  <label class="raa-label">Kulturmiljötyper: </label>
  <ng-select [(ngModel)]="kategorier" [ngModelOptions]="{standalone: true}" [multiple]=true>
    <ng-option *ngFor="let cat of this.dataService.listCategories" [value]="cat.namn" class="options">
      {{cat.namn}}
    </ng-option>
  </ng-select>

  <div class="two-buttons">
    <button type="button" (click)="buttonUpload()" class="raa-button">Bilder >></button>
    <button type="button" (click)="buttonUpload()" class="raa-button raa-button-secondary">Dokument >></button>
  </div>

  <div class="one-button">
    <button type="button" (click)="drawPolygon()" class="raa-button raa-button-confirm">Rita Polygon</button>
  </div>

  <div id="details">
    <label class="raa-label">Kommuner: </label>
    <p>{{this.kommuner}}</p><br />
    <label class="raa-label">Län: </label>
    <p>{{this.lan}}</p>
  </div>

  <div class="two-buttons">
    <button type="submit" class="two-buttons raa-button raa-button-confirm">spara</button>
    <button type="button" (click)="buttonCancel()" class="two-buttons raa-button raa-button-cancel">avbryt</button>
  </div>
</form>
