<!-- Information -->
<div id="sidebar">
    <h1>Information</h1>

    <button class="raa-button">raa-button</button>
    <button class="raa-button raa-button-secondary">raa-button-secondary</button>

    <br>
    <br>
    

    <form>
        <label class="raa-label">Valid input</label>
        <input type="text" placeholder="Skriv något fint" class="valid-input raa-input" value="korrekt text">
        <label class="raa-label">Invalid input</label>
        <input type="email" placeholder="Skriv något fult" class="raa-input error invalid-input" value="felaktig text">
        <p class="error-message">Fältet är felaktigt ifyllt</p>
      </form>

      <a class="raa-link"><span class="raa-icon raa-icon-share tw-mr-1"></span>Dela</a>
      <a class="raa-link"><span class="raa-icon raa-icon-externallink tw-mr-1"></span>Extern länk</a>
      <a class="raa-link tw-mt-4"><span class="raa-icon raa-icon-add tw-mr-1"></span>Lägg till</a>

</div>