.spacer {
    flex: 1;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  .toolbar-logo {
    width: 220px;
  }

  .toolbar-tools {
    height: 40px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }
