<!-- Header -->
<div class="toolbar" role="banner">
    <!-- Logga -->
    <div class="toolbar-logo">
      <a href="#" title="Riksantikvarieämbetet"><img src="../../assets/raa/assets/images/logo/RAA_logo_farg_rgb.svg" alt="Riksantikvarieämbetet"></a>
    </div>
    
    <div class="spacer"></div>

    <!-- Ikoner från: https://app.raa.se/styleguide/styles -->
  
    <!-- Verktyg -->
    <nav class="toolbar-tools tw-flex tw-justify-end">
        
      <button role="button" class="tw-select-none tw-cursor-pointer tw-text-size-1.75 tw-ml-2 raa-button-focus tw-text-raa-orange">
        <span class="tw-flex tw-flex-col tw-items-center">
          <span class="raa-icon-search tw-text-header"></span>
          <span class="tw-text-size-0.813 tw-font-semibold tw-uppercase">sök</span></span></button>

      <button role="button" class="tw-select-none tw-cursor-pointer tw-text-size-1.75 tw-ml-2 raa-button-focus tw-text-raa-orange">
        <span class="tw-flex tw-flex-col tw-items-center">
          <span aria-hidden="true" class="tw-text-header raa-icon-help"></span>
          <span class="tw-text-size-0.813 tw-font-semibold tw-uppercase">hjälp</span></span></button>
      
      <button role="button" class="tw-select-none tw-cursor-pointer tw-text-size-1.75 tw-ml-2 raa-button-focus tw-text-raa-orange">
        <span class="tw-flex tw-flex-col tw-items-center">
          <span aria-hidden="true" class="tw-text-header raa-icon-menu"></span>
          <span class="tw-text-size-0.813 tw-font-semibold tw-uppercase">meny</span></span></button>
        
    </nav>
</div>