.spacer {
    flex: 1;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  .toolbar-logo {
    width: 220px;
    margin-left: 15px;
  }

  .toolbar-tools {
    height: 40px;
    margin-right: 15px;
  }
