<h1 class="tw-heading-md tw-py-2">Redigering</h1>
<p>Du redigerar just nu statlig viktig information, gör ej misstag!</p>

<form>
  <label class="raa-label">Namn: </label>
  <input type="text" placeholder="Skriv något fint"
  class="valid-input raa-input" value={{this.dataService.nationalInterestById.namn}}>
  
  <label class="raa-label">Motivering: </label>
  <input type="text" placeholder="Skriv något fint" class="valid-input raa-input" value={{this.dataService.nationalInterestById.motivering}}>

  <label class="raa-label">Beskrivning: </label>
  <input type="text" placeholder="Skriv något fint" class="valid-input raa-input" value={{this.dataService.nationalInterestById.beskrivning}}>

  <label class="raa-label">Kommun: </label>
  <input type="text" placeholder="Skriv något fint" class="valid-input raa-input" value={{this.dataService.nationalInterestById.kommuner}}>

  <label class="raa-label">Län: </label>
  <input type="text" placeholder="Skriv något fint" class="valid-input raa-input" value={{this.dataService.nationalInterestById.lan}}>

  <label class="raa-label">Kategorier: </label>
  <input type="text" placeholder="Skriv något fint" class="valid-input raa-input" value={{this.dataService.nationalInterestById.kategorier}}>

  <div class ="two-buttons">
    <button class="raa-button">Bilder >></button>
    <button class="raa-button raa-button-secondary">Dokument >></button>
  </div>

  <app-select></app-select>

  <div id="details">
    <label class="raa-label">Senast revidering: </label><p>1997-04-29</p><br />
    <label class="raa-label">Senast redigerad: </label><p>2021-04-29</p><br />
    <label class="raa-label">Redigerad av: </label><p>Carl Gustaf</p><br />
    <label class="raa-label">Version: </label><p>1.0</p><br />
  </div>

  <div class ="two-buttons">
    <button class="two-buttons raa-button raa-button-confirm">spara</button>
    <button class="two-buttons raa-button raa-button-cancel">avbryt</button>
  </div>
</form>