.two-buttons button {
    width: 49%;
    margin-right: 1%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  #details {
    size: 33px;
    display: inline !important;
  }

  #details label, p {
    display: inline !important;
  }