@import url(../sidebar.scss);

#sidebar-right {
  width: 30%;
  right: 0;

  border-left: 1px solid #e2e8f0;
}

#sidebar-right-drawer {
  right: 29.9%;
  border-right: 0px; // dölj högra bordern
}

.sidebar-right-drawer-hide {
  right: 0% !important;
}