<!-- Information -->
<button (click)="drawerToggle()" id="sidebar-right-drawer"
  class="sidebar-drawer tw-bg-raa-white hover:tw-bg-raa-gray-2 tw-border tw-border-solid tw-border-raa-gray-3 tw-text-raa-gray-5 hide-button raa-button-focus"
  aria-label="göm sidpanel">
  <i id="drawer-right-arrow" class="raa-icon-arrow-right tw-text-size-1.75"></i>
</button>

<div id="sidebar-right" class="sidebar">
  <div *ngIf="dataService.hasSelectedItem">
    <app-sidebar-edit-riksintresse></app-sidebar-edit-riksintresse>
  </div>

</div>
