<!-- Information -->
<button (click)="drawerToggle()" id="sidebar-right-drawer"
  class="sidebar-drawer tw-bg-raa-white hover:tw-bg-raa-gray-2 tw-border tw-border-solid tw-border-raa-gray-3 tw-text-raa-gray-5 hide-button raa-button-focus"
  aria-label="göm sidpanel">
  <i id="drawer-right-arrow" class="raa-icon-arrow-right tw-text-size-1.75"></i>
</button>

<!-- Välj en komponent utifrån dataService.infoSidebarMode -->
<div id="sidebar-right" class="sidebar">
  <div *ngIf="dataService.infoSidebarMode === dataService.MODE.HELP">
    <app-sidebar-help></app-sidebar-help>
  </div>
  <div *ngIf="dataService.infoSidebarMode === dataService.MODE.INFO">
    <app-sidebar-info-riksintresse></app-sidebar-info-riksintresse>
  </div>
  <div *ngIf="dataService.infoSidebarMode === dataService.MODE.EDIT">
    <app-sidebar-edit-riksintresse></app-sidebar-edit-riksintresse>
  </div>
  <div *ngIf="dataService.infoSidebarMode === dataService.MODE.NEW">
    <app-sidebar-new-riksintresse></app-sidebar-new-riksintresse>
  </div>

  <div *ngIf="dataService.infoSidebarMode === dataService.MODE.FILES_UPLOAD">
    <app-files-upload></app-files-upload>
  </div>
  <div *ngIf="dataService.infoSidebarMode === dataService.MODE.FILES_VIEW">
    <app-files-view></app-files-view>
  </div>

</div>
