<h1 class="tw-heading-md tw-py-2">Visa Filer</h1>

<!-- Skriver ut en lista med alla existerande filer som går att ladda ner -->
<div class="existing-files">
  <h2>Existerande filer</h2>
  <div class="one-button" *ngFor="let file of dataService.nationalInterestByIdFiles">
    <a href="{{this.getAPI + file.url}}" target="_blank">
      <button type="button" class="raa-button raa-button-cancel">{{file.name}}</button>
    </a>
  </div>
</div>


<br />
<div class="one-button">
  <button type="button" (click)="buttonCancel()" class="raa-button">Återvänd</button>
</div>
