<h1 class="tw-heading-md tw-py-2">Visa Filer</h1>

<!-- Skriver ut en lista med alla existerande filer som går att ladda ner -->
<div class="existing-files">
  <p>Nedanför finns alla lister som är kopplade till det nuvarande riksintresset. För att ladda ner eller visa en fil är
    det bara att trycka på en specifik fil.</p><br />
  <div class="one-button" *ngFor="let file of dataService.riksintresseFiles">
    <a href="{{getStaticURL + file.url}}" target="_blank">
      {{file.name}}
    </a>
  </div>
</div>

<br />
<div class="one-button">
  <button type="button" (click)="buttonCancel()" class="raa-button">Gå Tillbaka</button>
</div>
