<h1 class="tw-heading-md tw-py-2">Redigering</h1>

<form [formGroup]="form" (ngSubmit)="buttonSubmit()">
  <label class="raa-label">Namn: </label>
  <input formControlName="namn" type="text" placeholder="Namn på riksintresse" class="valid-input raa-input"
    value={{this.dataService.nationalInterestById.namn}}>


  <label class="raa-label">Motivering: </label>
  <input formControlName="motivering" type="text" placeholder="Motivering av riksintresse" class="valid-input raa-input"
    value={{this.dataService.nationalInterestById.motivering}}>

  <label class="raa-label">Beskrivning: </label>
  <input ng-reflect-readonly="true" formControlName="beskrivning" type="text" placeholder="Beskrivning av riksintresse"
    class="valid-input raa-input" value={{this.dataService.nationalInterestById.beskrivning}}>

  <label class="raa-label">Kulturmiljötyper: </label>
  <ng-select [(ngModel)]="this.dataService.nationalInterestById.kategorier" [ngModelOptions]="{standalone: true}"
    name="namn" [multiple]=true appearance="outline">
    <ng-option *ngFor="let cat of this.dataService.listCategories" [value]="cat.namn" class="options">
      {{cat.namn}}
    </ng-option>
  </ng-select>

  <label class="raa-label">Status: </label>
  <mat-checkbox formControlName="cederat" [disableRipple]="true">Avstått anspråk</mat-checkbox>

  <div class="one-button">
    <button type="button" (click)="buttonUpload()" class="raa-button">Ladda upp filer >></button>
    <button type="button" (click)="drawPolygon()" class="raa-button raa-button-confirm">Rita polygon</button>
  </div>

  <div id="details">
    <label class="raa-label">Detaljer</label><br />
    <label class="raa-label">Kommuner: </label>
    <p>{{this.dataService.nationalInterestById.kommuner}}</p><br />
    <label class="raa-label">Län: </label>
    <p>{{this.dataService.nationalInterestById.lan}}</p><br />

    <label class="raa-label">ID: </label>
    <p>{{this.dataService.nationalInterestById.id}}</p><br />
    <label class="raa-label">Nuvarande version: </label>
    <p>{{this.dataService.nationalInterestById.version}}</p><br />
    <label class="raa-label">Beslutat: </label>
    <p>1997-04-29</p><br />
    <label class="raa-label">Reviderat: </label>
    <p>2021-04-29</p><br />
    <label class="raa-label">Senast modifierad av: </label>
    <p>Carl Gustaf</p><br />
  </div>

  <div class="two-buttons">
    <button type="submit" class="two-buttons raa-button raa-button-confirm">spara</button>
    <button type="button" (click)="buttonCancel()" class="two-buttons raa-button raa-button-cancel">avbryt</button>
  </div>
</form>
