@import url(../sidebar.scss);

// Sidebar
#sidebar-left {
  width: 40%;
  left: 0;

  border-right: 1px solid #e2e8f0;
  z-index: 1;
}

#sidebar-left-drawer {
  left: 39.9%;
  border-left: 0px; // dölj vänstra bordern
}

.sidebar-left-drawer-hide {
  left: 0% !important;
}

// Table
table {
  table-layout: fixed;
  width: 100%;
}

// Table data can't have margins..
th,
td {
  padding: 3px;
  padding-left: 5px;
  border: 1px solid #DADADA;
}

input {
  width: 100%;
}

// The names of national interest are "hyperlinks"
a {
  color: #C94A18;
  text-decoration: none;
}

a:hover {
  color: #FFB219;
  cursor: pointer;
  text-decoration: underline;
}

// Icon for sorting
.icon-sort {
  float: right;
}

.icon-sort:hover {
  color: #C94A18;
  cursor: pointer;
}