@import url(../sidebar.scss);

#sidebar-left {
  width: 50%;
  left: 0;

  border-right: 1px solid #e2e8f0;
  z-index: 1;
}

#sidebar-left-drawer {
  left: 49.9%;
  border-left: 0px; // dölj vänstra bordern
}

.sidebar-left-drawer-hide {
  left: 0% !important;
}

table {
  width: 100%;
}

// navigering
footer {
  position:absolute;
  bottom:0;
  width:100%;
}

// Table data can't have margins...
th, td {
  padding: 5px;
  border: 1px solid #DADADA;
}

input {
  width: auto;
}

// The names of national interest are "hyperlinks"
a {
  color: #C94A18;
  text-decoration: underline;
}
a:hover {
  color: #FFB219;
  cursor: pointer;
}

// Icon for sorting
.icon-sort {
  float: right;
}
.icon-sort:hover {
  color: #C94A18;
  cursor: pointer;
}