<div class="container" *ngIf="this.visibility">
    <div>
        <table class="tableWithResults">
            <thead>
                <tr>
                    <form>
                        <th>
                            <input type="text" class="form-control" placeholder="Sök på namn"
                                [(ngModel)]="name" (ngModelChange)="search()">
                        </th>
                    </form>
                </tr>
                <tr>
                    <th>Namn</th>
                    <th>Kategorier</th>
                    <th>Kommun</th>
                    <th>Län</th>
                    <th>Senast ändrad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of data">
                    <td>{{result.name}}</td>
                    <td>{{result.categories}}</td>
                    <td>{{result.municipality}}</td>
                    <td>{{result.province}}</td>
                    <td>{{result.lastUpdated}}</td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>
