<div class="container">
    <div>
        <table>
            <thead>
                <tr>
                    <th>
                        <input type="text" class="form-control" name="name" placeholder="Sök på namn"
                            [(ngModel)]="name" (ngModelChange)="searchName()">
                    </th>
                    <th>
                        <input type="text" class="form-control" name="description" placeholder="Sök på beskrivning"
                            [(ngModel)]="description" (ngModelChange)="searchDescription()">
                    </th>
                    <th>
                        <input type="text" class="form-control" name="motivation" placeholder="Sök på motivering"
                            [(ngModel)]="motivation" (ngModelChange)="searchMotivation()">
                    </th>
                    <th>
                        <input type="text" class="form-control" name="diarienumber" placeholder="Sök på diarienummer"
                            [(ngModel)]="diarienumber" (ngModelChange)="searchDiarienumber()">
                    </th>
                </tr>
                <tr>
                    <th>Namn &nbsp;
                        <span (click)="sort('name')" class="icon-sort">
                            <div class="raa-icon-arrow-up"></div>
                            <div class="raa-icon-arrow-down"></div>
                        </span>
                    </th>
                    <th>Kategorier &nbsp;
                        <span (click)="sort('description')" class="icon-sort">
                            <div class="raa-icon-arrow-up"></div>
                            <div class="raa-icon-arrow-down"></div>
                        </span>
                    </th>
                    <th>Kommun &nbsp;
                        <span (click)="sort('motivation')" class="icon-sort">
                            <div class="raa-icon-arrow-up"></div>
                            <div class="raa-icon-arrow-down"></div>
                        </span></th>
                    <th>Län &nbsp;
                        <span (click)="sort('diarienumber')" class="icon-sort">
                            <div class="raa-icon-arrow-up"></div>
                            <div class="raa-icon-arrow-down"></div>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of data | orderBy: key: reverse | 
                        paginate:{itemsPerPage:5,currentPage:currentPage};">
                    <td><a (click)="getIdOfClicked($event)" id={{result.id}}>
                        {{result.namn}}
                    </a></td>
                    <td>{{result.beskrivning}}</td>
                    <td>{{result.motivering}}</td>
                    <td>{{result.diarienummer}}</td>
                </tr>
            </tbody>
            <tfoot>
                <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
            </tfoot>
        </table>
    </div>
</div>
